body {
	background-image: url("/images/blubackgrnd.jpg");
	background-repeat: repeat-y;
	margin: 0;
}

.content-container {
  font-family: monospace;
  background: rgb(175,175,175);
  background: linear-gradient(9deg, #d2d2d2 0%, #81aacc 100%);
}

.header-container {
	max-width: 100%;
	height: 3%;
	margin-bottom: 20px;
	background: white;
  text-align: center;
  padding: 3.5em;
}

.header-container .txt-container {
	text-align: center;

}

.text-container {
  width: 30%;
  margin: 0 2em;
  font-size: 1.2em;
  line-height: 2em;
}

.text-container > p > a {
  color: rgba(70,130,179,1);
  text-decoration: none;
}

.text-container > p > a:hover {
  color: darkgoldenrod;
}

.map-text {
  display: flex;
  flex-direction: row;
}

#subtitle {
	color: darkgoldenrod;
	margin-left: 30px;
	font-size: 22px;
	text-align: center;
}

#title {
	font-size: 50px;
	font-style: oblique;
	letter-spacing: 9px;
	color: steelblue;
	margin: 0;
}

#paragraph {
	font-size: 14px
}


#map3 {
	margin: 20px;
	float: left;
	position: relative;
	height: 500px;
	width: 65%;
	/*display: inline-flex;*/
	border: 10px solid white;
}

.leaflet-popup-content p {
	margin: 0.1em 0;
}

#panel {
	width: 100%;
	padding: 10px;
	display: inline;
	vertical-align: top;
	text-align: center;
	line-height: 10px;
}

.range-slider {
	width: 60%;
  cursor: grab;
}

.sequence-control-container {
	width: 300px;
	height: 33px;
	background-color: rgba(255, 255, 255, 0.3);
	line-height: 40px;
	text-align: center;
}

.legend-control-container {
	background-color: #43434359;
	text-align: center;
	border: solid lightgrey 1px;
	font-family: monospace;
}

#forward {
	float: right;
}

#reverse {
	float: left;
}

#temporal-legend {
	/* font-weight: bold; */
	font-size: 120%;
	color: white;
	font-family: monospace;
	margin-top: 1em;
}

text {
	fill: white;
}

/* Media Queries */
@media (max-width: 979px) {
  .map-text {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .text-container {
    width: 90%;
    margin-top: 2em;
  }
  #map3 {
    margin: 0 auto;
  }
}


