body{background-image: url("/images/gplay.png");
      background-color: #e2f8ff !important;}


lightgrey@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.navbar-default{
  background-color:#ddd;
  border-radius: 0;
  background-image: none;
}

.navbar-default{
	background-color: green;
}

.col-6.col-sm-3 {
  font-family: 'Asar', serif;
  font-size: 26px;
  font-style: italic;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  margin-top: -20%
  align-items: center;
}

.row {
  align-content: center;
}


.navbar-brand{
    font-family: 'Asar', serif;
    font-size: 26px;

}

.portfolio-thumbnail img {
height: 70px;
}

.thumbnail.portfolio-thumbnail {
  border: white 6px solid;
  box-shadow: 2px 2px 2px #aaaaaa;
  height: 50%;
}

.portfolio-page-image {
	display: block;
	margin-right: auto;
  height: 90px;
}

body { padding-top: 30px;
}

.p {
  font-family: 'Asar', serif;;
}

.portfolio-page-text {
	text-align: center;
	font-size: 14pt;
	font-family: 'Asar', serif;;
}

.header {
	text-align: center;
	font-family: 'Asar', serif;;
}

.nav.navbar-nav{
  font-size: 20px;
  font-family: 'Asar', serif;
  color: black;
}

.photo {
	text-align: center}

.aboutme {
	text-align: center;
	font-family: 'Asar', serif;; }

.container {
  margin: 5%
	font-family: 'Asar', serif;;
}

 .jumbotron-container {
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: center;
    font-family: 'Asar', serif;;
    font-size: 40;
}

.jumbotron {
  /*background-image: url("/images/gplay.png");*/
  color:#daf5fb;
  background-color: rgba(119,119,119, .4) !important;
  letter-spacing: 3px;
  text-shadow: 2px 3px rgb(104,104,104);
	background-size: cover;
	min-height: 10px; }

.descrip {
  margin-left: 10%;
  margin-right: 50%;
  text-align:inherit;
  font-size: 17px;
  font-family: 'Asar', serif;

}
